/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  display: flex;
  justify-content: center;
  padding: 40px 10px;
}

/* Main Card */
.container {
  backdrop-filter: blur(15px);
  background: rgba(126, 102, 204, 0.511);
  border-radius: 20px;
  padding: 30px;
  width: 400px;
  max-width: 95%;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0,0,0,0.4);
  animation: fadeIn 1s ease-in-out;
}

/* Profile */
.profile {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid #a291e5;
  margin-bottom: 15px;
  transition: 0.3s;
}

.profile:hover {
  transform: scale(1.1);
}

/* Headings */
h1 {
  font-size: 26px;
  margin-bottom: 5px;
}

p {
  color: #cbd5f5;
  margin-bottom: 15px;
}

/* Links */
.links a {
  margin: 10px;
  text-decoration: none;
  color: #a291e5;
  font-weight: bold;
  transition: 0.3s;
}

.links a:hover {
  color: white;
}

/* Sections */
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Cards */
.projects {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  background: rgba(255, 255, 255, 0.08);
  padding: 15px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px) scale(1.02);
  background: rgba(81, 42, 149, 0.231);
}

/* Button */
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: white;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile */
@media (max-width: 600px) 
{
  h1 
  {
    font-size: 22px;
  }
}